* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #005B96;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: #03396C;
}
p{
    color: #005B96;
}
.container{
    max-width: 1600px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(220, 229, 251);
}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2{
    max-width: 100%;
    padding: 20px;
    justify-self: right;
}
.carousel {
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
}
.card {
    flex: 0 0 20em;
    height: 12em;
    background-color: rgb(220, 229, 251);
    padding: 0em;
    border-radius: .5em;
    text-align: center;
    align-content: center;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}