{% extends "base.html" %}

{% block head %}
<title>Jala | {{ artInstance.title }}</title>
<style>
    .art-container {
        display: flex;
        flex-direction: row;
        >* {
            margin: 1rem;
        }
    }
    .art-content {
        flex-grow: 1;
        padding: 1rem;
        background-color: rgb(220, 229, 251);
        border-radius: 1rem;

        > ul {
            display: flex;
            flex-wrap: wrap;
            
            li {
                background-color: #005B96;
                color: white;
                display: block;
                padding: 1rem;
                margin: 0.5rem;
                border-radius: 1rem;
                font-size: 1rem;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
</style>
{% endblock %}

{% block body %}
<h1>{{ artInstance.title }}</h1>
{% if userInstance: %}
    <span>by <a href="/user/@{{userInstance.username}}">{{ userInstance.fullName }} (@{{ userInstance.username }})</a></span><br>
{% else: %}
    <span>Unknown Artist</span><br>
{% endif %}
<span>Created {{ artAge }} minutes ago</span><br>

<div class="art-container">
    <img src="{{ artInstance.url }}" alt="{{ artInstance.title }}" height="512px">
    <div class="art-content">
        <p>{{ artInstance.desc }}</p>
        <p>Price: <strong>${{ artInstance.getPrice() }}</strong></p>
        <h2>Tags:</h2>
        <ul>
            {% for tag in artInstance.tags: %}
            <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}