{% extends "base.html" %}

{% block head %}
<title>Jala | {{ artInstance.title }}</title>
{% endblock %}

{% block body %}
<h1>{{ artInstance.title }}</h1>
{% if userInstance: %}
    <span>by <a href="/user/@{{userInstance.username}}">{{ userInstance.fullName }} (@{{ userInstance.username }})</a></span><br>
{% else: %}
    <span>Unknown Artist</span><br>
{% endif %}
<span>Created {{ artAge }} minutes ago</span><br>

<img src="{{ artInstance.url }}" alt="{{ artInstance.title }}" height="512px">
<p>{{ artInstance.desc }}</p>
<p>Price: <strong>${{ artInstance.getPrice() }}</strong></p>

<h2>Tags:</h2>
<ul>
    {% for tag in artInstance.tags: %}
    <li>{{ tag }}</li>
    {% endfor %}
</ul>
{% endblock %}