<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='JalaLogo.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="/static/JalaLogo.svg" alt="Jala Logo" width="60px">
        </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="/creations">Artworks</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contacts</a></li>
                <li><a href="/user/">Account</a></li>
                <li><a href="https://github.com/harvinong/418IATP-Pinus-Hack">See Documentation</a></li>
            </ul>
        </nav>
    </div>
    {% block body %}{% endblock %}
</div>
</body>
</html>