{% extends "base.html" %}

{% block head %}
<style>
    .card {
        height: fit-content;
        padding: 1rem;
        display: block;
    }
    div.view {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
    }
</style>
{% if userInstance == "all": %}
<title>Jala | All Creations</title>
{% else: %}
<title>Jala | @{{ userInstance.username }}'s Creations</title>
{% endif %}
{% endblock %}

{% block body %}

{% if userInstance == "all": %}
<h1>Jala | All Creations</h1>
{% else: %}
<h1>Jala | @{{ userInstance.username }}'s Creations</h1>
{% endif %}

<div class="view">
    
    {% if userInstance == "all": %}

    {% for artInstance, userInstance in artInstances.items(): %}
    <a href="/art/{{artInstance._id}}" class="card">
        <h2>{{artInstance.title}}</h2>
        <img src="{{artInstance.url}}" alt="{{artInstance.title}}" height="128px"><br>
        <strong>{{"@"+userInstance.username+" • " if userInstance else ""}}${{artInstance.getPrice()}}</strong>
    </a>
    {% endfor %}
    
    {% else: %}
    
    {% for artInstance in artInstances: %}
    <a href="/art/{{artInstance._id}}" class="card">
        <h2>{{artInstance.title}}</h2>
        <img src="{{artInstance.url}}" alt="{{artInstance.title}}" height="128px"><br>
        <strong>${{artInstance.getPrice()}}</strong>
    </a>
    {% endfor %}
    
    {% endif %}

</div>


{% endblock %}