{% extends "base.html" %}

{% block head %}
<title>Jala | Log-in</title>
{% endblock %}

{% block body %}
<h1>Login</h1>
<form action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>
    <br>

    <label for="password">Password</label>
    <input type="password" 
    name="password" 
    id="password" 
    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z])(?=.*[-_@])(?!.*\s).{8,}"
    title="Password must contain between 8 - 16 characters, no spaces, contain at least one digit, lowercase letter, uppercase letter, and special characters (-_@)."
    minlength="8" maxlength="16" 
    required>
    <br>

    <input type="submit" value="Log-in">
</form>
<p>Don't have an account? <a href="/register">Sign up here!</a></p>

{% if status == "fail": %}
    <p>Incorrect username or password</p>
{% endif %}

{% endblock %}