<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Very Essential Asset.jpg') }}" type="image/x-icon">
    <title>There Pouchy</title>
</head>
<body>
    <h1>Welcome to this website</h1>
    <p>Make yourself a <strike>home</strike> teh poci</p>
    <img src="{{ url_for('static', filename='Very Essential Asset.jpg') }}" alt="Very Essential Asset", height="256">
    <a href="/README.md">See Documentation</a>
</body>
</html>