{% extends "base.html" %}

{% block head %}
<title>Jala | Art Market</title>
<link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-1">
        <h1>Welcome to Jala!</h1>
        <p>Cast a net to unlimited creativity. A place where painters and collectors come together to purchase and collect artwork. Browse and purchase artwork from talented artist to build your collection, or share your creations to others who share your tastes and preferences.</p>
    </div>
    <div class="col-2">
        <img src="./static/kruzNSandwich.png" alt="ArtbyHarvinOng" width="500px">
        <p style="text-align: right;">by Harvin Ong</p>
    </div>
</div>
<div class="carousel" id="artwork">
    <div class="card">
        <img src="./static/Pawbert.png" alt="Pawbert by Harvin Ong">
    </div>
    <div class="card">
        <img src="./static/MoreArt.png" alt="Demon Woof by Jack Chris">
    </div>
    <div class="card">
        <img src="./static/layDown.png" alt="Lay Down by Harvin Ong">
    </div>
    <div class="card">
        <img src="./static/CrossoverArt.png" alt="Fun Times by Jack Chris">
    </div>
    <div class="card">
        <img src="./static/AnotherArt.png" alt="Snowy Times by Jack Chris">
    </div>
</div>
<!--<div class="aboutsection" id="aboutsection">
    <h1>About us</h1>

</div>-->
{% endblock %}