<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Your Artwork</title>
</head>

<body>
    <main class="container">
        <h1>Upload Your Artwork</h1>

        {% if message %}
        <p class="message">{{ message }}</p>
        {% endif %}

        <br>
        <form method="post" enctype="multipart/form-data">
            <label>Title
                <input type="text" name="title" id="title" required>
            </label>
            <br>
            <label>Art Image
                <input type="file" name="file" id="file" accept="image/*" required>
            </label>
            <br>
            <button type="submit">Upload</button>
        </form>

    </main>
</body>

</html>